.technologies-container{
    padding: 20px;
    display: flex;
}
.technologies-container ul{
    margin-top: 6px;
}
.technologies-container li>a{
    display: flex;
    align-items: center;
    padding-left: 0px !important;
}
.technologies-container li>a:hover{
    margin-left: 20px;
    transition: margin-left 0.2s ease;
    color: red;
}
.technologies-container li>a>:first-child{
    margin-right: 8px;
}
.technologies-heading{
    font-size: 20px;
    color: rgb(86, 85, 85);
    color: #1a6403;

}
.technologies-inner-container div{
    width: 14rem;
}