.ourservices-swiper-container{
    width: 100vw;
    background-image: url('../../images/service-bg3.jpg');
    box-sizing: border-box;
    padding: 1rem;
}
.ourservices-swiper-container>.swiper {
    width: 100%;
    height: 100%;
    margin-top: -110px;
}

.ourservices-swiper-container>.swiper .swiper-slide{
    border-radius: 15px;
    height: 440px;
    width: 270px;
    text-align: justify;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    font-size: 18px;
}
.ourservices-icon {
    margin: 1rem;
}

.ourservices-heading {
    margin: 1rem;
    text-align: left;
}

.ourservices-heading:hover {
    color: #1b3f8b;
    transition: 1s;
}

.ourservices-text {
    margin: 1rem;
}

.ourservices-button {
    padding-left: 2rem;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
}

@media screen and (max-width:670px) {
    .ourservices-swiper-container>.swiper {
        width: 90%;
    }
    .ourservices-text {
        line-height: 30px;
    }
}
   