@import url('https://fonts.googleapis.com/css?family=Barlow');

.whoweare-container {
    height: 750px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    margin-top: 1rem;
}

.whoweare-container-left {
    height: 600px;
    width: 43%;
}



.who-we-are-hr {
    margin: 1rem 1rem;
}

.inner-div {
    display: flex;
    height: 140px;
    width: 90%;
    border-top: 2px solid rgb(209, 206, 206);
    margin: 2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.inner-div-child-left {
    height: 120px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-div-child-right {
    height: 100px;
    width: 60%;
    border-left: 2px solid rgb(209, 206, 206);
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    justify-content: center;
}

.who-we-are-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.who-we-are-num {
    color: rgb(8, 106, 216);
    font-family: "Barlow";
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.who-we-are-left-name {
    color: rgb(14, 14, 14);
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 20px;
}

.who-we-are-left-desig {
    color: rgb(76, 77, 86);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.whoweare-container-right {
    height: 600px;
    width: 43%;
    box-sizing: border-box;

}
.whoweare-container-right-img1{
    background-image: url("../../images/about-big2.jpg");
    border-radius: 10px;
	height: 597px;
	width: 410px;
	margin-left: 248px;
	background-size: cover;
}
.whoweare-container-right-img2{
	background-image: url('../../images/about-sm2.jpg');
	height: 250px;
	width: 373px;
	margin-top: -300px;
	border: 8px solid white;
	border-radius: 10px;
}

@media screen and (max-width: 1395px){
    .whoweare-container {
        margin-top: 476px;
    }
}

@media screen and (max-width:900px) {
    .whoweare-container {
        flex: none !important;
        display: block;
        height: fit-content;
    }

    .whoweare-container-left {
        padding: 3rem;
        width: 100vw;
        box-sizing: border-box;
    }

    .whoweare-container-right {
        width: 100vw;
        box-sizing: border-box;
    }
}

@media screen and (max-width:815px) {
    .whoweare-container {
        margin-top: 508px;
    }
}
@media screen and (max-width:716px) {
    .whoweare-container {
        margin-top: 1400px;
    }
    .whoweare-container-left {
        padding: 0.8rem;
        display: block;
    }
    .whoweare-container-right {
        padding: 0.8rem;
        display: block;
    }
}
@media screen and (max-width:540px) {
    .whoweare-container-right {
        margin-top: 50px;
    }
    .sign-img{
        width: 120px;
    }
    .whoweare-container-right {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .whoweare-container-right-img1{
        width: 400px;
        margin-left: 0;
    }
    .whoweare-container-right-img2{
        display: none;
    }
}