.footer-main-container {
  background-color: #2a2b2c;
  color: white;
  box-sizing: border-box;
}
.footer-inner-container {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
}
.footer-left-container {
  width: 50%;
}
.footer-right-container {
  width: 50%;
}
.footer-right-container iframe {
  border-radius: 8px;
  border: none;
}
.logo-container {
  padding-top: 1em;
}
.footer-logo-div {
  padding: 1rem;
}
@media screen and (max-width: 576px) {
  .footer-inner-container {
    flex-direction: column-reverse;
  }
  .footer-inner-container > div {
    width: 100%;
  }
}
@media screen and (min-width: 550px) {
  .bottomSpaceManagerDiv {
    display: block;
  }
}

.bottomSpaceManagerDiv {
  height: 80px;
  width: 100%;
}
