* {
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  flex-direction: column;
}
.App-Header{
  padding: 0;
  z-index: 100;
}
.main-body {
  position: relative;
}
.stroke-text{
  color: transparent;
  -webkit-text-stroke-width: .7px ;
  -webkit-text-stroke-color: white ;
}